.grid-layout{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: center;
}

.grid-item{
    width:32.5%;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border: 1px #dcdcdc solid;
    padding: 10px;
    cursor: pointer;
}

.grid-item img.checkbox{
    content: url("./images/unchecked.png");
}



.grid-item-selected{
    background-color: #cfe3ff;
}

.grid-item-selected img.checkbox{
    content: url("./images/checked.png");
}

.grid-item-unselected{
    opacity: 0.6;
}

img{
    display: block;
    max-height:100%;
    width:100%;
}

img.checkbox{
    display: block;
    height: 20px;
    width:20px;
}

@media screen and (max-width: 700px){

    article{
        width:95%;
    }

    header div span{
        display: none;
    }
}

@media screen and (max-width: 500px){
    .grid-item{
        width: 49%;
    }
}

#restart{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #cecece;
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    line-height: 50px
}

#restart:hover{
    background-color: #e0e0e0;
}


#result{
    margin: 20px 0;
    padding: 20px;
}

#title{
    margin-bottom: 18px;
    font-size: 1.65rem;
    font-weight: bold;
}

#contents{
    margin-bottom: 18px;
}
